* {
  /* border: 2px solid blue; */
}

h1,
h2,
h3,
body,
p {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #908d8d;
}

header {
  background-color: black;
  padding: 32px 64px;
}

main {
  padding: 40px 70px;
  display: flex;
}

.profissao {
  font-size: 24px;
}

.t60 {
  color: rgba(255, 255, 255, 0.6);
}

.t50 {
  color: white;
}

.dados {
  display: inline-block;
  margin-bottom: 16px;
}

.foto {
  width: 250px;
  height: 250px;
  border: 4px solid #383838;
  border-radius: 50%;
  margin-bottom: -120px;
  margin-right: 24px;
}

.coluna-menor {
  margin-top: 48px;
  width: 300px;
}

.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha {
  border-color: #383838;
}

.formacao .linha {
  border-color: #383838;
}

.coluna-menor img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}

.coluna-menor li {
  display: flex;
  margin-top: 32px;
}

.conteudo {
  display: inline-block;
}

.formacao {
  margin-top: 32px;
}

.coluna-maior {
  margin-left: 24px;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
}

.coluna-maior h2 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-left: 16px;
}

.habilidade {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}

.habilidade h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

.habilidade p {
  font-size: 20px;
}

.progresso {
  display: flex;
  width: 100%;
}

.barra {
  margin-top: 8px;
  width: 20%;
  height: 4px;
  background-color: #4200ff;
}

.incompleto {
  opacity: 0.2;
}

.habilidade li {
  margin-top: 32px;
}

.habilidade li:first-child {
  margin-top: 0;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
}

.projeto {
  width: 392px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
}

.projeto h3 {
  font-size: 24px;
  font-weight: bold;
}

.projeto p {
  margin-top: 16px;
  margin-bottom: 24px;
}

.projeto a {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  margin-top: 24px;
}

.projeto img {
  width: 100%;
  height: 220px;
}

a {
  text-decoration: none;
  background-color: #0e76a8 ;
  color: white;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
}

.git {
  background-color: black;
}

.whats {
  background-color: #34af23;
}

.redes {
  width: 200px;
}

.redes img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}

.redes li {
  display: flex;
  margin-top: 12px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 57.6px;
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
}

@media (max-width: 1300px) {
  .titulares {
    display: flex;
  }
}